<?xml version="1.0" encoding="utf-8" ?>
<Jobs serverName="demo-server" displayName="测试服务" description="测试服务的描述">
  <Job name="demoJob1" type="Windows.TaskSchedule.Extends.DemoJob,Windows.TaskSchedule.Extends" workDir="TestJob" cornExpress="0/2 * * * * ?"  />
  <!--<Job name="demoJob2" exePath="C:\Windows\System32\cmd.exe" arguments="" cornExpress="0/2 * * * * ?" expireSecond="180" />-->
</Jobs>
